<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/templates/security/statics/css/login.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="statics/css/main.css" th:href="@{/templates/security/statics/css/main.css}" />

  <title>Ooooops!</title>
</head>
<header>
  <nav class="navbar navbar-expand-sm navbar-dark ">
    <div class="col-11" style="text-align: center">
      <h1 class="text-white text-center" ><a class="main-logo-link">GARAGE</a></h1>
    </div>
  </nav>
</header>
<body class="bg-dark text-white">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-10" style="text-align: center">
      <h3>Nothing to see here. Please disperse... ERROR 403</h3>
        <img src="https://thumbs.gfycat.com/WateryWarmheartedChick-size_restricted.gif" width="1000" height="500" alt="" >
      </div>
    </div>
  </div>
</body>
</html>
